.page-card {
    transition: border-color 0.2s ease
}

.page-card:hover {
    border-color: var(--bs-blue);
}

.paragraph-block {
    white-space: pre-line;
}

.image-select-card {
    opacity: .6;
    transition: .2s ease;
}

.image-select-card:hover {
    cursor: pointer;
    opacity: 1;
}

.image-select-row {
    row-gap: 1em;
}

textarea {
    resize: none !important;
}